/* ============================================ */
/*  共通スタイル                                 */
/* ============================================ */
/* ボタンの共有スタイル */
.btn-common {
    background-color: red;
}

/* 入力部のラベル */
.lbl-caption {
    display: inline-block;
    width: 150px;
}